@font-face {
  font-family: Helvetica;
  src: url("./fonts/Helvetica/Helvetica-Roman.woff2") format("woff2");
  font-weight: 400;
}
  
@font-face {
  font-family: Helvetica;
  src: url("./fonts/Helvetica/Helvetica-Bold.woff2") format("woff2");
  font-weight: 700;
}

html {
  --pst-font-family-base-system: Helvetica, Arial, Segoe UI, sans-serif;
  --pst-font-size-h1: 220%;
  --pst-font-size-h2: 170%;
  --pst-font-size-h3: 130%;
  --pst-font-size-h4: 130%;
  --pst-font-size-h5: 120%;
  --pst-font-size-h6: 110%;
  --pst-font-size-small: 0.889rem;
  --pst-font-weight-heading: 700;
  --pst-sidebar-secondary: 18rem;
  --sidebar-tabs-padding-top-bottom: 6px;

  /* Colors */
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
}

html[data-theme=light] {
  --pst-color-border: #e0e0e0;
  --pst-color-sidebar-tab-active: var(--gray-100);
  --pst-color-text-sidebar: var(--pst-color-text-muted);
  --pst-color-link-hover: var(--pst-color-info);
}

html[data-theme=dark] {
  --pst-color-border: #404040;
  --pst-color-sidebar-tab-active: #404040;
  --pst-color-text-sidebar: var(--pst-color-text-muted);
  --pst-color-link-hover: var(--pst-color-info);
}


h1 {
  margin-top: 1rem;
  margin-bottom: 0.8rem;
}

h2 {
  margin-top: 2.7rem;
  margin-bottom: 0.8rem;
}

h3 {
  margin-top: 1.4rem;
  margin-bottom: 0.6rem;
}

a {
  text-decoration: none;
}

/* also contains table title */
.table-container {
  text-align: center;
}

/* for giving the table a rounded border */
.table-wrapper {
  border: 1px solid var(--pst-color-border);
  border-radius: 0.25rem;
  margin-bottom: 0.8rem;
}

table {
  width: 100%;
  text-align: left;
  border-style: hidden;
}

th, td {
  padding: 8px;
  border: 1px solid var(--pst-color-border);
  text-align: left;
}

th {
  padding-top: 2px;
  padding-bottom: 2px;
}

thead {
  background-color: var(--pst-color-surface);
}

/* Header */
.bd-header {
  background-color: none;
  box-shadow: none;
  border-bottom: 1px solid var(--pst-color-border);
}

/* Page */
@media (min-width: 960px){
  .bd-page-width {
    max-width: 120rem;
  }
}

/***********/
/* Sidebar */
/***********/
.bd-sidebar-primary {
  width: 20.313rem;
  padding: 2rem 0.5rem 1rem;

}

/* not sure why this initially had margin-top: auto, but it is causing undesirable scrollbar */
.bd-sidebar-primary .sidebar-primary-items__end {
  margin-top: 0;
}

.bd-sidebar-primary li.has-children>.reference {
  /* place dropdown icons in sidebar tabs */
  margin-right: 0;
  /* override padding top which the current them sets in here as well */
  padding-top: var(--sidebar-tabs-padding-top-bottom);
}

nav.bd-links {
  /* margin-right set to -1rem by default which causes sidebar to overflow parent */
  margin-right: 0;
}

nav.bd-links ul ul {
  /* remove extra space before sidebar tabs */
  padding: 0;
}

nav.bd-links li>a { 
  padding: var(--sidebar-tabs-padding-top-bottom) 16px;
  color: var(--pst-color-text-sidebar);
  border-radius: 6px;
  margin-bottom: 3px;
}

/* style of selected (current) tab whose child of tab is also selected */
nav.bd-links li.current:has(ul.current) > a {
  color: var(--pst-color-text-sidebar);
  background: none;
  text-decoration: none;
}

nav.bd-links li.toctree-l2>a {
  padding-left: 23px; /* ceil(l1 padding x 1.5) */
}

nav.bd-links li.toctree-l3>a {
  padding-left: 34px; /* ceil(l2 padding x 1.5) */
}

/* remove styling on hovering sidebar tabs */
/* TODO: Not sure why this was also there for the selector: nav.bd-links li>a:active, */
nav.bd-links li>a:hover, nav.bd-links li.current:has(ul.current) > a:hover {
  color: var(--pst-color-text-sidebar);
  text-decoration: none;
  background-color: var(--pst-color-sidebar-tab-active);
}

nav.bd-links li.current:has(ul.current) > a::before {
  /* remove divider on left from tab if a child of tab is selected */
  content: none;
}

nav.bd-links .current>a {
  position: relative; /* required to position the pseudo-element relative to the parent */
  box-shadow: none;
  background-color: var(--pst-color-sidebar-tab-active);
  color: var(--pst-color-text-sidebar);
}

nav.bd-links .current > a::before {
  content: ''; /* Needed for pseudo-elements */
  position: absolute; /* Allows positioning relative to the parent */
  left: 7px; /* Position the divider at the left */
  top: auto; /* Start at the top of the element */
  bottom: auto;
  width: 3px; /* Width of the divider */
  height: 68%;
  background-color: var(--pst-color-info);
  border-radius: 20px;
}

/****************/
/* Main content */
/****************/
.bd-main .bd-content .bd-article-container {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.bd-main .bd-content .bd-article-container > * {
  max-width: 800px;
}

.bd-main .bd-content .bd-article-container .bd-header-article {
  width: 100%;
}

.bd-main .bd-content .bd-article-container .bd-article {
  padding: 1.5rem 2rem;
}